<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Core" version="0.26.0" targetFramework="net46" />
  <package id="LibGit2Sharp" version="0.25.0-preview-0081" targetFramework="net461" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.196" targetFramework="net461" />
</packages>